{% load static %}
{% include 'hrm/header.html' %}
{% include 'hrm/sidebar.html' %}


{% load crispy_forms_tags %}

<style type="text/css">
    *{
      font-size: 13px;
    }
  
  </style>
  
  <section class="py-5 mt-5">
    <div class="container">
        <h3 class="font-weight-bold">Employee Attendance</h3>
        <hr>
        
           <div class="row mt-2">
             
               <div class="col-lg-10">
               
                  <form action="" method="post" >
                      {% csrf_token %}
                   
                      <button type="submit" class="btn btn-danger" onclick="attendance();" id="">Submit Attendance</button>

                     
                  </form>

               
                
               </div>
           </div>
        
    </div>
  </section>

  <script>
      const attendance = () =>{
        alert('Your Attendance Submitted Successfully!');
      }
</script>