{% load static %}
{% include 'hrm/header.html' %}
{% include 'hrm/sidebar.html' %}


{% load crispy_forms_tags %}
<style type="text/css">
  *{
    font-size: 13px;
  }
  .emp-photo{
    height: 50px;
    width:50px;
  }
</style>


<section class="py-5 mt-3">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4"><h4 class="ml-3 mt-4 font-weight-bold text-center mt-2">Employee Table</h4>
                <hr></div>
                
                <div class="col-lg-4">
                  <form method='POST' action=''>
                    {% csrf_token %}
                    {{form|crispy}}
                  <input type="submit" class="btn btn-info" value='Search'/>
                </form>
                </div>
                <div class="col-lg-4">
                  {% if messages %}
                  {% for message in messages %}
                      <h6 class="alert alert-success">{{message}}</h6>
                  {% endfor %}
              {% endif %}
        </div>
    </div>
</section>



<section class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover table-light">
                    <thead>
                      <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        {% if request.user.username == 'admin' %}
                        <th scope="col">Details</th>
                        
                        <th scope="col">Action</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for emp in employee %}
                      <tr>
                        <th scope="row">E#748{{emp.id}}</th>
                        
                        <td>
                          {% if emp.photo %}
                          <img src="{{emp.photo.url}}"alt="" class="emp-photo">
                          {% endif %}
                        </td>
                        
                        <td>{{emp.name}}</td>
                        <td>{{emp.department}}</td>
                        <td>{{emp.designation}}</td>
                        <td>{{emp.mobile}}</td>
                        <td>{{emp.email}}</td>
                        {% if request.user.username == 'admin' %}
                        <td>
                          <a href="{% url 'employee-details' emp.id %}" class="btn btn-success btn-sm">Details</a>
                        
                        </td>
                       
                        <td>
                            <a href="{% url 'update-employee' emp.id %}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i></a> ||
                            <a href="{% url 'delete-employee' emp.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a> 
                           
                        </td>
                        {% endif %}

                      </tr>
                      {% endfor %}
                     
                  
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>